header {
    background-color: #3655A9;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 0.5px;
}
/* main {
    display: block;
  } */
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* container  */
.search-container {
  width: 20%;
  margin-right: 50px;
}
.weather-container {
  width: 80%;
  display: flex;
  flex-direction:column;

}
.forecast{
  border: 1px solid rgba(112, 112, 112, 0.315);
  background-color: rgba(255, 255, 255, 0.295);
  margin: 15px;
  float: left;    
  border-radius: 10px;
  padding: 15px 25px;
  line-height: 12px;
}
.five-days-forecast {
  border: 1px solid rgba(112, 112, 112, 0.315);
  background-color: rgba(255, 255, 255, 0.295);
  margin: 15px;
  /* float: left;     */
  width: 20%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-content: center;
}

.city-div {
  border: 1px solid rgba(112, 112, 112, 0.315);
  background-color: rgba(255, 255, 255, 0.295);
  margin: 15px;
  height: 200px;
  float: left;    
  width: 90%;
  border-radius: 10px;
  padding: 15px 25px;
  line-height: 12px;
}
aside {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 20%;
    margin: 5px;
}
.result {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 5px;
}

.form-input {

    padding: 0.75rem;
    color: #1a1a1a;
    background-color: #ffffff;
    margin: 0.625rem 0;
    font-size: 1.2rem;
    border: 1px solid #484848;
    border-radius: 0.3rem;
  }
  .btn {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    outline: none;
    color: #1a1a1a;
    background-color: #5BA2E9;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
  .btn.btn-info {
    background-color: #1bbc9b;
    color: #ffffff;
  }
  
  .btn.btn-info:hover {
    background-color: #31e1bd;
  }
  .btn.btn-block {
    width: 100%;
    display: block;
    text-align: center;
  }
  